.root {
  display: inline-block;
}

.size_sm { width: 2rem; height: 2rem; }
.size_md { width: 2.5rem; height: 2.5rem; }
.size_lg { width: 3rem; height: 3rem; }

.circle { border-radius: var(--radius-full); }
.rounded { border-radius: var(--radius-md); }
