.root {
  display: flex;
  flex-wrap: wrap;
}

.gap_2 { gap: var(--space-2); }
.gap_3 { gap: var(--space-3); }
.gap_4 { gap: var(--space-4); }

.align_start { align-items: flex-start; }
.align_center { align-items: center; }
.align_end { align-items: flex-end; }
